


                <!--<form>-->
                <label for="name">Name</label>
                <input id="name"
                       class="form-control"
                       placeholder="Name"
                       ng-model="model.widget.widgetType"
                       readonly/>


                <label for="text">Text</label>
                <input id="text"
                       class="form-control"
                       placeholder="Text"
                       ng-model="model.widget.text"/>

                <label for="width">Width</label>
                <input id="width"
                       class="form-control"
                       value="100%"
                       ng-model="model.widget.width"/>

                <label for="url">URL</label>
                <input id="url"
                       class="form-control"
                       ng-model="model.widget.url"/>
                <label for="file">File Upload</label>
                <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->

                        <!--<input id="file"-->
                               <!--class="form-control"-->
                               <!--multiple type="file"/>-->
                    <!--</div>-->


                <!--</div>-->


                    <form action="/api/upload"  method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xs-6">

                            <!--<input id="file" class="form-control" multiple type="file"/>-->

                                <input  name="myFile"    id = "file" type="file" class="form-control" required="required"/>
                                <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
                                <input  name="userId"    value="{{model.userId}}"       style="display: none"/>
                                <input  name="websiteId" value="{{model.websiteId}}"    style="display: none"/>
                                <input  name="pageId"    value="{{model.pageId}}"       style="display: none"/>
                                <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
                                <input  name="widgetType"  value="{{model.widget.widgetType}}"   style="display: none"/>
                                <!--<button type="submit"    class="btn btn-block btn-primary">Upload Image</button>-->

                        </div>
                        <div class="col-xs-3">
                            <!--<a type="submit" class="btn btn-block btn-primary">Upload Image</a>-->
                            <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
                        </div>
                        <div class="col-xs-3">
                            <!--<a type="submit" class="btn btn-block btn-primary">Upload Image</a>-->
                            <a class="btn btn-block btn-info" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/search">Search Image</a>
                        </div>

                    </div>
                    </form>
                <!--</form>-->
                <a class="btn btn-success btn-block"
                   ng-click="model.createWidget(model.widget)">Create Image</a>
                <a class="btn btn-primary btn-block"
                   ng-click="model.updateWidget(model.widget)">Update Image</a>
                <a class="btn btn-danger btn-block"
                   ng-click="model.deleteWidget(model.widgetId)">Delete Image</a>



