
<form>
    <label for="name">Name</label>
    <input id="name"
           class="form-control"
           placeholder="Name"
           ng-model="model.widget.widgetType"
           readonly
    />


    <label for="text">Text</label>
    <input id="text"
           class="form-control"
           ng-model="model.widget.text"
           ng-required="true"/>

    <label for="size">Size</label>
    <!--<input id="size"-->
           <!--class="form-control"-->
           <!--ng-model="model.widget.size"/>-->
    <!--<label for="size">Size</label>-->
    <!--&lt;!&ndash;<h3>asdasd</h3>&ndash;&gt;-->
    <!--{{model.widget.size}}-->
    <select class="form-control"
            id="size"
            ng-model="model.widget.size">
        <option value="1" ng-selected="1">1 (XX-Large)</option>
        <option value="2">2 (X-Large)</option>
        <option value="3">3 (Medium)</option>
        <option value="4">4 (Small)</option>
        <option value="5">5 (X-Small)</option>
        <option value="6">6 (XX-Small)</option>
    </select>


<a class="btn btn-success btn-block"
   ng-click="model.createWidget(model.widget)">Create</a>
<a class="btn btn-primary btn-block"
   ng-click="model.updateWidget(model.widget)">Update</a>
<a class="btn btn-danger btn-block"
   ng-click="model.deleteWidget(model.widgetId)">Delete</a>
</form>