
<div ng-include="'views/common/header.view.client.html'"></div>

<div class="container-fluid">
    <div ng-repeat="widget in model.widgets" class="wbd-widget">
        <div ng-include="model.getWidgetUrlForType(widget.widgetType)"></div>

        <!--<div ng-switch="widget.widgetType">-->
            <!--<div ng-switch-when="HEADING">-->
                <!--<div ng-include="'widget/templates/widget-heading.view.client.html'"></div>-->
            <!--</div>-->
            <!--<div ng-switch-when="IMAGE">-->
                <!--<div ng-include="'widget/templates/widget-image.view.client.html'"></div>-->
            <!--</div>-->
            <!--<div ng-switch-when="HTML" ng-bind-html="model.trustThisContent(widget.text)">-->
            <!--</div>-->
            <!--<div ng-switch-when="YOUTUBE">-->
                <!--<div ng-include="'widget/templates/widget-youtube.view.client.html'"></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>

