
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
            <div class="navbar-header col-xs-12 col-sm-6 ">

                <div class="col-glyphicon-position">
                    <a class= "wdc-anchor-new"
                       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="col-website-position">
                    <a class="navbar-brand "
                       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">Widget Heading Editor</a>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--<div class="navbar-text pull-right col-xs-">-->
            <!--&lt;!&ndash;<a class= "wdc-anwidget-chooser.view.client.htmlget-chooser.html">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-plus pull-right"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        </div>


    </div><!-- /.container-fluid -->
</nav>